
@use "styles/colors" as c; 

.grid_cont{
    display: grid;
    grid-template-columns: 40%  40%;

    justify-content: center;

}


.grid_cont > div > div{
    height: 140px;
    justify-content: center;
    padding: auto;
}
.grid_cont{
    margin: auto;
}
.sub_button{
    width: 25%;
}
.log_out_btn{
    background-color: c.$orange-main;
    border: none;
}
.log_out_btn:hover{
    background-color: c.$orange-main-s;
}

.add_remove_form {
    display: flex ;
    justify-content: space-evenly;
    align-items: center;
}
.add_remove_form input{
    width: 60% ;
}

.add_remove_form button{
    width: 15% ;
    height: 30px;
    padding: 0;
    background-color: c.$orange-main;
    border: none;
}

.add_remove_form button:hover{
    background-color: c.$orange-main-s;
    
}

#remove_btn{
    background-color: c.$black;
}
